.venv
./backend/.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db".env" 
./backend/venv/
"frontend/node_modules/" 
"model/runs/" 
./backend/weights/" 
./backend/data/"
./backend/__pycache__/"
./frontend/build/"
./frontend/dist/"
backend/.env
frontend/.env
./backend/models/*"
