fastapi
uvicorn[standard]
python-multipart

supabase
python-dotenv
requests
beautifulsoup4
apscheduler

python-jose[cryptography]
bcrypt

ultralytics==8.2.0
opencv-python-headless==4.9.0.80
pillow

llama-parse